/* theme dark */
.bg-url-light{
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/008/070/315/small/geometric-low-poly-graphic-repeat-pattern-background-free-vector.jpg');
}

.bg-url-dark{
 background-image: url('https://freerangestock.com/sample/143731/abstract-hand-drawn-spirals-repeat-pattern-on-black-.jpg');
}


.bg-dark{
  background-color: black;
}

.bg-light-black{
  background-color: #262626;
}

.text-black{
  color: black;
}

.text-light-black{
  color: #262626
}

.bg-dark-primary{
  background-color: #fcbc73 !important;
}

.text-dark-primary{
color:#fcbc73;
}

.bg-light{
  background-color: white;
  
}

.bg-light-2{
  background-color: #dadcde;
}

.bg-light-primary{  
  background-color: #191659;
}

.text-light-primary{
  color: #191659 !important;
}
